[user]
	name = Guangzong Chen
	email = chen@ggeta.com
[commit]
	# gpgsign = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
	filemode = false
	pager = delta
[pull]
	ff = only
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[gui]
    skipDiscardChangesWarning = true

[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    navigate = true    
    light = false      
    side-by-side = true  
    line-numbers = true   
    features = decorations	
